@font-face {
  font-family: "SaolDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/SaolDisplay-Regular.eot");
  src: url("./assets/fonts/SaolDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/SaolDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/SaolDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/SaolDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/PlayfairDisplay-Regular.eot");
  src: url("./assets/fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Light.eot");
  src: url("./assets/fonts/Rajdhani-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Light.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Light.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Bold.eot");
  src: url("./assets/fonts/Rajdhani-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Bold.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Bold.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Medium.eot");
  src: url("./assets/fonts/Rajdhani-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Medium.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Medium.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Regular.eot");
  src: url("./assets/fonts/Rajdhani-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-Regular.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Regular.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-SemiBold.eot");
  src: url("./assets/fonts/Rajdhani-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rajdhani-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-SemiBold.woff") format("woff"),
    url("./assets/fonts/Rajdhani-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ElandChoice";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ElandChoice";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ElandChoice";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/eland/ElandChoiceBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "KOHINanum";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "KOHINanum";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHINanumBold.ttf")
      format("truetype");
  font-display: swap;
}
